<html>
    <head>
        <title>To-Do lists</title>
        <meta name="viewport" contents="width=device-width, initial-scale=1.0">
        <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="/static/base.css" rel="stylesheet"  media="screen">
    </head>
    <body>
        <div class="container">
            <div class="row">  
                <div class="col-md-6 col-md-offset-3 jumbotron">
                        <h1>{% block header_text %}{% endblock %}</h1>
                        <form method="POST" action="{% block form_action %}{% endblock %}">
                            {{ form.text }}
                            {% csrf_token %}
                            {% if form.errors %}
                                <div class="form-group has-error">
                                    <span class="help-block">{{ form.text.errors }}</span>
                                </div>
                            {% endif %}
                        </form>  
                    </div> 
                    {% block table %}
                    {% endblock %}
                </div>
            </div>
        </div>
        <script src="http://code.jquery.com/jquery.min.js"></script>
        <script src="/static/list.js"></script>
    </body>
</html>
